*{
     outline: none;
}
 .flex {
     display: flex;
     justify-content: center;
}
 #rx-mod-settings {
     background: #644999;
     background-size: 300% 300%;
     padding: 30px;
     border-radius: 15px;
     width: 350px;
     min-height: 200px;
     top: 1em;
     left: 50%;
     margin-left: -175px;
     z-index: 99999;
     box-shadow: 0 0 40px #8D00FF;
     position: fixed;
     text-align: center;
}
 #rx-mod-settings input.keybinding {
     max-width: 20px;
     border: 1px solid #ccc;
     padding: 0;
     text-align: center;
     margin-right: 5px;
     outline: none;
     color: #fff;
     background-color: transparent;
     border: 1px solid #fff;
     border-radius: 5px;
     font-weight: 500;
}
 #rx-mod-settings.hidden {
     display: none;
}
 #rx-mod-wrap {
     color:#fff;
     min-height: 25px;
     position: fixed;
     top: 15%;
     width: 100px;
     z-index:99997;
     transition: .3s;
     user-select: none;
     border: none;
}
 #rx-mod-wrap span.text {
     margin-left: 15px;
     padding-left: 15px;
     border-left: 1px solid #dfdfdf;
}
 #text-block,#left_ad_block,#ad_bottom,.ad-block,.ad-block-left,.ad-block-right {
     display: none;
}
 .cztop{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
 .SettingsTitle{
     font-size: 32px;
     color: #EEE;
     margin-left: 10px;
}
 .CloseBtn{
     outline: none;
     background-color: transparent;
     padding: 10px;
     font-size: 16px;
     transition: all .3s;
     color: #fff;
     border-radius: 15px;
     border: 2px solid #4C2B8D;
     width: 48px;
}
 .CloseBtn:hover{
     border: 2px solid #5600FF;
}
 .Sett{
     color: #fff;
     user-select: none;
     font-weight: 500;
}
 .text{
     color: #fff;
     font-weight: 500;
     user-select: none;
}
 .cztopleft{
     display: flex;
     align-items: center;
}
 .titleImg{
     width: 50px;
     height: 50px;
     border-radius: 20px;
     object-fit: cover;
}
 .JoinDc{
     background-color: transparent;
     width: 75%;
     height: 30px;
     border: 1px solid #fff;
     border-radius: 5px;
     color: #fff;
     transition: .3s;
}
 .JoinDc:hover{
     background-color: #5865F2;
     transition: .3s;
}
 .modContainer {
     display: flex;
     justify-content: space-between;
}
 .modButton{
     background-color: transparent;
     border: 1px solid #fff;
     border-radius: 5px;
     color: #fff;
     transition: all .3s;
     outline: none;
     padding: 5px;
     width: 60%;
     margin: 0 5px;
     font-size: 13px;
}
 .modButton:hover {
     background-color: #5865F2;
}
 .ColorImage{
     width: 50px;
     height: 50px;
     cursor: pointer;
}
 #SettingsButton{
     background-color: transparent;
     height: 30px;
     background-image: url('https://i.ibb.co/pJhSvHJ/icons8-zahnrad-30.png');
     width: 30px;
     background-size: cover;
     border: none;
     outline: none;
}
 @media screen and (max-height: 900px) {
     #rx-mod-wrap{
         top: 21%;
    }
}
 @media screen and (max-height: 800px) {
     #rx-mod-settings{
         top: 0 
    }
}
 .Youtube{
     background-color: transparent;
     height: 30px;
     border: 1px solid #fff;
     border-radius: 5px;
     color: #fff;
     transition: .3s;
     margin: 5px;
     width: 140px;
}
 .Youtube:hover{
     background-color: #DA7272;
     transition: .3s;
}
 .YT-BTNS{
     display: flex;
     justify-content: space-between;
}
